<div class="header-container">
    <a [routerLink]="['/']">
      <img src="https://storage.googleapis.com/monstercat/monstercat-logo.webp" alt="logo">  
    </a>
    <div class="header-container--search">
        <a [routerLink]="['/search']">
            <span text="" (mouseover)="tooltip.show()" (mouseout)="tooltip.hide()" class="material-symbols-outlined">
                search
            </span>
        </a>
        <app-tooltip #tooltip text="search for any song by clicking here"></app-tooltip>
    </div>
</div>