@import "src/scss/abstracts/variable";
@import "src/scss/shared/utils";

.music-video--container{
    &-embed{
        width: 100%;
        height: 90vh;

        @media screen and (max-width: 796px) {
            height: 60vh;
        }
    }
}