<div class="album-banner--container">
    <!--Add params-->
    <app-album-image
        [albumImgUrl]="albumImgUrl"
        [albumImgAlt]="albumImgAlt"
        [title]="title"
        [releaseDate]="releaseDate"
    ></app-album-image>
    <div class="album-banner--details">
        <h1 class="album-banner--title">
            {{albumTitle}}
        </h1>
        <h2 class="album-banner--artist-name">
            {{artistName}}
        </h2>
        <div class="album-banner--cta">
            <button class="album-banner--listen">
                <span class="material-symbols-outlined">
                    play_arrow
                    </span>LISTEN NOW
            </button>
            <button class="album-banner--share">
                <span class="material-symbols-outlined">
                    share
                    </span>
                    SHARE
            </button>
        </div>
    </div>
</div>