@import "src/scss/abstracts/variable";

.search-container{
    min-height: 100vh;
    background: linear-gradient(
                    rgba(0, 0, 0, 0.96), /* Black with 50% opacity */
                    rgba(0, 0, 0, 0.96)  /* You can adjust the opacity as needed */
                ),
                url('../../../assets/images/bg-search.jpg'); /* Path to your image */
    background-size: cover;
    background-position: 100% 30%;
    color: #fff;
    position: relative;

    &--search-group{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transition: all .5s ease-in-out;

        &.moveUp{
            top: 20%;
        }
    }

    &--form-group{
        display: flex;
        align-items: center;
    }

    // .search-title{
    //     margin-bottom: 5rem;
    //     font-size: 4rem;
    //     font-family: $font-secondary;
    //     text-transform: uppercase;
    // }

    .search-bar{
        padding : 2.2rem 2.6rem;
        width: 50rem;
        border : none;
        outline: none;
        font-size: 1.9rem;
    }

    .search-icon{
        display: flex;
        border: 1px solid $color-white;
        padding: 2.05rem;
        cursor: pointer;
    }
}