@import "src/scss/abstracts/variable";

.album-image{
    display: flex;
    &--title{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-weight: 600;
        font-style: italic;
        color: $color-white;

        @media screen and (max-width: 303px) {
            font-size: 1.2rem;
        }
    }

    &--subtitle{
        color: $color-green;
        @media screen and (max-width: 303px) {
            font-size: 1.2rem;
        }
    }

    &--release-date{

    }

    &--img{
        width: 600px;
        height: 600px;
        object-fit: cover;

        @media screen and (max-width: 1439px) {
            width: 400px;
            height: 400px;
        }

        @media screen and (max-width: 796px) {
            width: 95%;
            height: 95%;
        }
    }
}