<div class="track-container">
    <p class="track-container--index">
        {{index}}
    </p>
    <span class="track-container--play material-symbols-outlined">
        play_arrow
    </span>
    <h3 class="track-container--title">
        <span track-container--title-1>{{title}}</span>
        <span track-container--title-2>{{author}}</span>
    </h3>
    <p class="track-container--time">
        {{time}}
    </p>
    <span class="track-container--share material-symbols-outlined">
        share
    </span>
</div>