<div class="footer-container">
    <div class="u-separator"></div>
    
    <div class="footer-container--upper-content">
        <nav class="footer-container--nav">
            <ul>
                <li><a href="#">About Monstercat</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>

            </ul>   
        </nav>
        <div class="footer-container--newsletter">
            <h4 class="footer-container--title">Monstercat news</h4>
            <p>Don't miss a thing, stay up to date with the latest news from us.</p>
            <form>
                <div class="form-group">
                    <input type="email" placeholder="Enter email" /> 
                    <button type="submit">
                        <span class="material-symbols-outlined">
                            arrow_right_alt
                        </span>
                    </button>
                </div>
                
            </form>
        </div>
    </div>

    <div class="u-separator"></div>

    <p class="copyright">2011 - 2023 © Monstercat, All Rights Reserved</p>

    <div class="footer-container--acknowledgment">
        <p>We acknowledge with gratitude the traditional, ancestral and unceded land of the Coast Salish peoples, including the territories of the Sḵwx̱wú7mesh (Squamish), Stó:lō and Səl̓ílwətaʔ/Selilwitulh (Tsleil-Waututh) and xʷməθkʷəy̓əm (Musqueam) Nations, on which Monstercat's Vancouver HQ stands.
            <br><br>
            We acknowledge the unceded and ancestral territories of the Gabrielino/Tongva peoples on which our LA team live and work.</p>
    </div>
</div>