.u-color-blue {
    color: $color-blue;
}

.u-color-grey {
    color: $color-grey;
}

.u-title{
    font-family: 'Monument Extended', 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color : $color-white;

    @media screen and (max-width: 796px) {
        font-size: 3rem;
    }
}

.u-margin-right-sm{
    margin-right: 1rem;
}

.u-margin-bottom-sm{
    margin-bottom: 4rem;
}

.u-separator{
    width : 100%;
    height: 1px;
    background-color:  $color-white;
    margin : 5rem 0;
}