.u-color-blue {
    color: $color-blue;
}

.u-color-grey {
    color: $color-grey;
}

.u-title{
    font-size: 4rem;
    font-weight: 700;
    color : $color-white;
}

.u-margin-right-sm{
    margin-right: 1rem;
}