@import "src/scss/abstracts/variable";
@import "src/scss/shared/utils";

.platform-tray{
    &--container{
        color : #fff;
    }

    &--platforms{
        display: flex;
        margin-top: 7rem;

        @media screen and (max-width: 796px) {
            margin-top: 5rem;
        }
    }

    &--platform{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border: 1px solid $color-white;
        padding: 3rem;

        @media screen and (max-width: 796px) {
            padding: 2rem;
        }
        
        cursor: pointer;

        &--container{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &--icon{
        width: 2.5rem;

        @media screen and (max-width: 796px) {
            width: 3rem;
        }
    }

    &--label{
        margin-top: 2px;
        text-transform: uppercase;
        font-weight: 500;
    }
}